/* 动态背景容器 */
.bgContainer {
  position: fixed;
  top: -5%;
  left: -5%;
  width: 110vw;
  height: 110vh;
  overflow: hidden;
  background-size: 100% auto;
  transform-origin: center;
  z-index: -1;
  background: url('/img/Kuro.png');
  background-position: center;
  background-size: 105%;
  will-change: transform;
  opacity: 0.9;
}

.heroBanner {
  padding: 4rem 4rem;
  text-align: left;
  align-items: flex-start;
  justify-content: flex-start;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 16px;
  max-width: 800px;
  margin: 2rem 1rem;
  opacity: 0.8;
  transition: opacity 0.5s ease-in-out;
}

.buttons {
  display: flex;
  align-items: left;
  justify-content: left;
  gap: 1rem;
  margin-top: 1.5rem;
}

.buttons .button {
  border-radius: 8px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
    margin: 1rem auto; /* auto 会使其在父容器中水平居中 */
    text-align: center; /* 手机端文本居中 */
  }
  
  .buttons {
    flex-direction: column;
    gap: 0.5rem;
    align-items: center; /* 手机端按钮列居中 */
  }
}
